<div class="list-group">

    <a href="/users/dashboard/sendmails" class="list-group-item {{#if sendMails}}active{{/if}}">
        send email marketing
    </a>
    <a href="/users/dashboard/addmail" class="list-group-item {{#if addEmail}}active{{/if}}">add new email to database</a>
    <a href="#" class="list-group-item">Morbi leo risus</a>
    <a href="#" class="list-group-item">Porta ac consectetur ac</a>
    <a href="#" class="list-group-item">Vestibulum at eros</a>
</div>