<style>
    @import url("/stylesheets/home.css");

</style>
<!--container for the home page-->
<div class="container">
    <!--section for slider-->
    <section class="container-slider">
        <div class="slider-item active">
            <img src="/images/sendmail-img1.png">
            <div class="slider-caption">
                <h1>start sell more with malis deliver</h1>
            </div>
        </div>
        <div class="slider-item">
            <img src="/images/sendmail-img4.png">
            <div class="slider-caption">
                <h1>choose the emails according to your business</h1>
            </div>
        </div>
        <div class="slider-item">
            <img src="/images/sendmail-img5.png">
            <div class="slider-caption">
                <h1>connect to many thousands of emails with one click</h1>
            </div>
        </div>
        <div class="slider-item">
            <img src="/images/sendmail-img6.png">
            <div class="slider-caption">
                <h1>send emails in any with the biggest data emails</h1>
            </div>
        </div>
        <div class="slider-arrows">
            <span class="fa fa-arrow-left" id="btn-left"></span>
            <span class="fa fa-arrow-right" id="btn-right"></span>
        </div>
    </section>
    <!--section for what we do-->
    <section class="what-we-do">
        <h1>what we do ?</h1>
        <p>
            we are a website represents a good service for any one want to make marketing to his business such as selling products, web site, affilite, selling books or any thing. <br>
            we have a big data of emails for any aspect of business fields. <br>
            you can send your business for many thousands of emails in the sae time with one click !
        </p>
    </section>
    <!-- end section for what we do-->
    <!--section for about us section-->
    <section class="about-us" id="aboutus">
        <h1>about us</h1>
        <p>we are a company wnats to helpe the small investors to grow their business by our email marketing service <br>
            we have a big data comprises many thousands of emails you can market your business to them with one click and you will see the result of increasing your sells or visitors
        </p>
    </section>
    <!--se4ction for our prices-->
    <section class="section-prices-card">
        <div class="container">
            <div class="row">
                <h1 class="prices-title">prices:</h1>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="price-card-container">
                        <h4 class="title-currency">free</h4>
                        <div class="price-card">
                            <p class="currency">free</p>
                            <p class="per-month">7 Days</p>
                        </div>
                        <p class="price-card-description">
                            you will enjoy with unlimited send emails for free along 7 days and the you have to pay to continue
                        </p>
                        <a href="#" class="start-now">start now</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="price-card-container">
                        <h4 class="title-currency">egyptian pound</h4>
                        <div class="price-card">
                            <p class="currency">EGP 60</p>
                            <p class="per-month">per month</p>
                        </div>
                        <p class="price-card-description">
                            you will pay 60 egyptian pound and you will enjoy with unlimited send emails
                        </p>
                        <a href="#" class="start-now">start now</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="price-card-container">
                        <h4 class="title-currency">$ dollar</h4>
                        <div class="price-card">
                            <p class="currency">$ 4</p>
                            <p class="per-month">per month</p>
                        </div>
                        <p class="price-card-description">
                            you will pay 4 Dollars and you will enjoy with unlimited send emails
                        </p>
                        <a href="#" class="start-now">start now</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="price-card-container">
                        <h4 class="title-currency">&notinvc; Euro</h4>
                        <div class="price-card">
                            <p class="currency">&notinvc; 4</p>
                            <p class="per-month">per month</p>
                        </div>
                        <p class="price-card-description">
                            you will pay 4 Euro and you will enjoy with unlimited send emails
                        </p>
                        <a href="#" class="start-now">start now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="/javascripts/home.js"></script>
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./snake.css">
</head>
<body>
    <canvas id="stage"></canvas>
    <script src="./snake.js"></script>
</body>
</html>
