<style>
    @import url("/stylesheets/sign.css");
</style>

<div class="container">
    <form class="form-sign" action="/login" method="post">
        <h3>{{title}}</h3>
        {{#if error}}
            <div class="alert">{{error}}</div>
        {{/if}}
        <div class="alert alarm"></div>
        <div class="form-group">
            <label>email</label>
            <input class="form-control" type="email" name="email"/>
        </div>
        <div class="form-group">
            <label>password</label>
            <input class="form-control" type="password" name="password"/>
        </div>
        <div class="form-group">
            <label>remember me</label>
            <input name="rememberme" type="checkbox">
        </div>
        <div class="form-group">
            <input type="submit" class="form-control submit-btn" value="submit"/>
        </div>
    </form>
</div>
<script src="/javascripts/login.js"></script>