<div class="container">
    {{#if success}}
        <div class="alert alert-success">{{success}}</div>
    {{/if}}
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            {{#if userLogged}}
                {{> usersidebar}}
            {{/if}}
        </div>
    </div>
</div>
